<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
		">
    <!-- dubbo consumer配置 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/properties/consumer.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8" />
    </bean>
    <dubbo:application name="ims_consumer" />
    <dubbo:registry id="ims" protocol="zookeeper" address="${dubbo.address}" check="false"/>

    <dubbo:consumer check="false" />
    <dubbo:annotation/>

    <!-- spring mvc配置 -->
    <!-- 静态文件访问简写 -->
    <!--<mvc:resources mapping="/static/**" location="/static/" />-->
    <mvc:resources mapping="/static/**" location="/static/" />
    <!--<mvc:resources mapping="/plugins/**" location="/static/js/kindeditor/plugins/" />-->
    <!--<mvc:resources mapping="/module/plugins/**" location="/static/js/kindeditor/plugins/" />-->
    <!--<mvc:resources mapping="/themes/**" location="/static/js/kindeditor/themes/" />-->
    <!-- JSON返回值配置 针对ie -->
    <mvc:annotation-driven ignore-default-model-on-redirect="true">
        <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 防止SQL注入过滤器
    <mvc:interceptors>
       <bean class="com.util.SqlInjectIntercepter"/>
    </mvc:interceptors>-->

    <context:component-scan base-package="com.consumer"/>

    <!-- Tell Spring MVC how to find its jsp files -->
    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/page/"/>-->
        <!--<property name="suffix" value=".html"/>-->
    <!--</bean>-->
    <!-- 使用thymeleaf解析 -->
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/page/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML" />
        <property name="cacheable" value="false" />
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <!--解决中文乱码-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
</beans>